<app-sidebar></app-sidebar>
<section class="header" *ngIf="user">
    <div class="header-picture-wrapper">
        <img class="header-picture" src="{{user.images[0].url}}" alt="">
    </div>
    <div class="header-summary">
        
            <p class="header-summary-text">Hello, <span>{{user.display_name}} </span>!</p>
             <p class="header-summary-text">Welcome to the <span class="header-summary-text-bold">Spotify Manager</span>. </p>
            <p class="header-summary-text">
                Here you can manage your Spotify account, playlists and music.
                You can also see some interesting statistics about your listening habits.</p>
            <p class="header-summary-text">
                For instance you can see that you liked so far <span>{{savedTotal}}</span> songs and you have <span>{{playlistTotal}}</span> playlists. Good Work!
                By the way did you know that your most played song is <span>{{mostPlayedSong}} </span>? And you probably know that your favourite artist is<span> {{mostPlayedArtist}}</span>.
            </p>
        
    </div>

</section>

